.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.bg-mcl {
  background-color: #1b2c53;
}

.bg-mcl-red {
  background-color: #ec1f28;
}

.bg-mcl-light {
  background-color: #233d79;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1b2c53;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.text-mcl {
  color: #1b2c53;
}

.text-mcl-red {
  color: #ec1f28;
}

.strand-box {
  transition: transform .2s; /* Animation */
}

.strand-box:hover {
  transform: scale(1.05);
}

.bg-green {
  background-color: #cefad0;
}

.btn-mcl {
  color: #ffffff;
  background-color: #1b2c53;
  border-radius: 4px;
  padding-left: 2.5rem; 
  padding-right: 2.5rem;
}

.btn-mcl:hover {
  color: #ffffff;
  background-color: #ec1e28;
}

.btn-mcl:disabled {
  color: #aaaaaa;
  background-color: #111111;
  border-radius: 4px;
  padding-left: 2.5rem; 
  padding-right: 2.5rem;
}


label.required::after {
  content: ' *';
  color: #ff0000;
}

