{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block stylesheets %}
<!-- Page-specific CSS -->
<style>
  .asteriskField {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<div class="row mt-xl-5 mt-md-5 mb-4 justify-content-center align-items-center">

  <!-- Banner -->
  <div class="col-sm-4">
    <img src="{% static 'images/mcl_banner-3.png' %}" class="img-fluid" alt="MCL Logo">
  </div>

  <!-- Form -->
  <div class="col-md-8 col-lg-6">
    
    <h1 class="text-center">
      Welcome to Faculty Evaluation
    </h1>

    <div class="divider d-flex align-items-center my-4">
      <p class="text-center fw-bold mx-3 mb-0">Sign In</p>
    </div>

    <form method="POST">
      {% csrf_token %}

      {{ form|as_crispy_errors }}

      <!-- Email input -->
      <div class="form-outline mb-4">
          {{ form.username|as_crispy_field }}
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        {{ form.password|as_crispy_field }}
      </div>

      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-mcl btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}