<!-- This is the project-level 'base.html' -->
{% extends 'base.html' %}

{% load bootstrap_icons %}
{% load widget_tweaks %}
{% load static %}

{% block stylesheets %}
<!-- Page-specific CSS -->
{% endblock %}

{% block content %}
<div class="row">
    <!-- Navigation bar -->
    {% if admin %}
    <nav class="shadow p-3 navbar navbar-expand-lg navbar-dark bg-mcl">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{%url 'admin-home' %}">
                <img src="{% static 'images/mcl_logo-small.png' %}" alt="" width="30" height="30"
                    class="d-inline-block align-text-top">
                FE Principal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-2" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin-home' %}">Overview</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="#">Comments</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin-history' %}">History</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin:index' %}">Manage FE</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="shadow p-3 navbar navbar-expand-lg navbar-dark bg-mcl">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{%url 'visualizer-home' %}">
                <img src="{% static 'images/mcl_logo-small.png' %}" alt="" width="30" height="30"
                    class="d-inline-block align-text-top">
                FE Statistics
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-2" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'visualizer-home' %}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'visualizer-comments' %}">Comments</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{%url 'linegraph' %}">History</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <!-- Content -->
    <div class="col py-4 text-center">
        {% block visualizer-content %}{%endblock%}
    </div>

</div>
{% endblock %}