{%extends "visualizer/base.html"%}
{% load render_table from django_tables2 %}
{% load static %}

{% block navigation %}
    {% if admin %}
    <nav class="shadow p-3 navbar navbar-expand-lg navbar-dark bg-mcl">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{%url 'fb-select' %}">
                <img src="{% static 'images/mcl_logo-small.png' %}" alt="" width="30" height="30"
                    class="d-inline-block align-text-top">
                FE Admin Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-2" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin-home' %}">Overview</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="#">Comments</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin-history' %}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin:index' %}">Manage FE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock navigation %}

{% block visualizer-content %}

<div class="container">
    <div>
        {% if admin %}
        <h1>{{ teacher }}</h1>
        {% endif %}
        <h1>Comments for <span class="text-mcl-red">FE 2023-2024</span> </h1>
    </div>

    <form action="" method="get" id="selection-form">
        {% csrf_token %}
        {{ fe_select }}
        <input type="submit" value="Update" id="selection-button">
    </form>

    {% if filter %}
    <form action="" method="get" class="form form-inline">
        {{ filter.form }}
        <input type="submit" label="Search" />
    </form>
    {% endif %}

    {% if not query_exists %}
        <div class="m-5">
            <h3 class="">Found <span class="text-mcl-red">NO DATA</span></h3>
        </div>
    {% else %}
        <div class="table-responsive m-4">
            {% render_table feedback_table %}
        </div>
    {% endif %}

</div>

{% endblock %}

{% block bodyscript %}
    <script>
        var url = $( '#selection-form' ).attr( 'action' );
        $("selection-button").click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: url,
                data: { 
                    id: $('#selection-form').val(), 
                },
                success: function(result) {
                    alert('ok');
                },
                error: function(result) {
                    alert('error');
                }
            });
        });
    </script>
{% endblock bodyscript %}