{% extends 'feedback/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}
{% endblock %}

{% block feedback-content %}

<h1 class="text-center">Select Teacher</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.teacher }}
    <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-mcl btn-lg text-center"
          style="padding-left: 2.5rem; padding-right: 2.5rem;">Evaluate</button>
    </div>
</form>

{% endblock %}
